.Contact{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.Contact__container{
  width: calc(100vw - 40px);
}

.Contact__text{
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 2rem 0;
}


@media (min-width: 768px) {
  .Contact__container{
    width: calc(100vw - 180px);
  }

  .Contact__text{
    font-size: 2rem;
    line-height: 3rem;
    margin: 2rem 0;
  }
}

@media (min-width: 1180px) {
  .Contact__container{
    width: calc(100vw - 200px);
  }

  .Contact__text{
    font-size: 2.5rem;
    line-height: 3.5rem;
    margin: 2.5rem 0;
  }
}

@media (min-width: 1600px) {
  .Contact__container{
    width: calc(100vw - 240px);
  }

  .Contact__text{
    font-size: 3rem;
    line-height: 4rem;
    margin: 3rem 0;
  }
}
